/*
 * Empty Stylesheet file.
 */

#panelSuperficie {
    -fx-background-image: url('supRecortada.jpg');
    -fx-background-size: 100% 100%;
}

.imageview{
    -fx-stroke-width: 2px;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.relleno{
    -fx-fill: #ff3333;
}
.contorno {
    -fx-stroke: #ff3333;
    -fx-fill: transparent;
}